<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://receipttracker20170105062952.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>receipttracker20170105062952.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ReceiptTracker20170105062952</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ReceiptTracker20170105062952</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:receipttracker20170105062952dbserver.database.windows.net,1433;Initial Catalog=ReceiptTracker20170105062952_db;User ID=guppy@receipttracker20170105062952dbserver;Password=alxWni5nIHomPqaWCgTEp1IU6F9V7yd74ZwW2jP2" Name="Data Source=tcp:receipttracker20170105062952dbserver.database.windows.net,1433;Initial Catalog=ReceiptTracker20170105062952_db;User Id=guppy@receipttracker20170105062952dbserver;Password=alxWni5nIHomPqaWCgTEp1IU6F9V7yd74ZwW2jP2" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ReceiptTracker.DAL.ReceiptContext, ReceiptTracker" MigrationConfiguration="ReceiptTracker.Migrations.Configuration, ReceiptTracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:receipttracker20170105062952dbserver.database.windows.net,1433;Initial Catalog=ReceiptTracker20170105062952_db;User Id=guppy@receipttracker20170105062952dbserver;Password=alxWni5nIHomPqaWCgTEp1IU6F9V7yd74ZwW2jP2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>