@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Account Modify</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon modtransparent"><span class="glyphicon glyphicon-user"></span></span>
                                <input class="form-control mod-left-border-none" placeholder="User Name" type="text" name="username">
                            </div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon modtransparent"><span class="glyphicon glyphicon-cog"></span></span>
                                <input class="form-control mod-left-border-none" placeholder="Password" type="text" name="password">
                            </div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon modtransparent"><span class="glyphicon glyphicon-check"></span></span>
                                <input class="form-control mod-left-border-none" placeholder="Password Validated" type="text" name="validated">
                            </div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon modtransparent"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input class="form-control mod-left-border-none" placeholder="Email" type="text" name="email">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-sm btn-danger">
                       <span class="glyphicon glyphicon-trash"></span>&nbsp;
                    </button>
                    <label class="pull-right">Delete Account and Data</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
